######################################
# Build artifacts
######################################
bin/
obj/
out/
publish/

######################################
# VS Code
######################################
# .vscode/*

######################################
# User files
######################################
*.user
*.suo

######################################
# Logs
######################################
*.log

######################################
# Test results / coverage
######################################
TestResults/
coverage/
*.coverage
*.coveragexml

######################################
# NuGet
######################################
packages/
*.nupkg

######################################
# Environment / secrets
######################################
.env
.env.*
secrets.json
# appsettings.Development.json

.fake